*{
margin: 0;
padding: 0;
}
body{
font-family: Lato;
font-style: normal;
}
.page_header{
    width:100%;;
    background: #222222;
 }
.container{
     max-width: 1140px;
     width: 100%;
     margin: 0 auto;
 }
 .container_menu{
     max-width: 1140px;
     height: 75px;
     background-color: #222222;
     display: flex;
     justify-content: space-between;
 }
 .menu_picture_left{
     width: 111px;
     height: 38px;
     display: flex;
     justify-content:space-between;
     margin-top: 18px;
 }
 .menu_picture_right{
     width: 168px;
     height: 37px;
     display: flex;
     justify-content:space-between; 
     margin-top: 18px;
     align-items: center;
 }
 label {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 32px;
   height: 23px;
   }
 
 label > span {
   display: block;
   width: 90%;
   height: 4px;
   background: #E8E8E8;
   position: relative;
 }
 
 label > span:after,
 label > span:before {
   content: "";
   display: block;
   width: 100%;
   height: 4px;
   background: #E8E8E8;
   position: absolute;
 }
 
 label > span:before {
   top: -10px;
 }
 
 label > span:after {
   top: 10px;
 }
 
 
 input[type="checkbox"]:checked ~ label > span {
   background-color: transparent;
 }
 
 input[type="checkbox"]:checked ~ label > span:before {
   transform: rotate(45deg);
   top: 0;
 }
 
 input[type="checkbox"]:checked ~ label > span:after {
   transform: rotate(-45deg);
   top: 0;
 }
 
 input[type="checkbox"] {
   display: none;
 }
.main_menu_li{
font-weight: 700;
font-size: 14px;
line-height: 17px;
color: #000000;
 }
 .menu {
   height: 764px;  
   display: none;
   padding: 37px 0 0 34px;
   width: 764px;
   box-sizing: border-box;
   list-style-type: none;
   width: 232px;
   position: absolute;
   margin: 30px 0 0 0;
   right: 0;
   background: #FFFFFF;

 }
 
 li:first-child {
   text-transform: uppercase;
   font-weight: bold;
   margin: 0 0 10px 0;
 }
 
.submenu {
padding: 0;
list-style-type: none;
margin: 24px;
}
.text_submenu{
font-weight: 400;
font-size: 14px;
line-height: 17px;  
color: #9F9F9F;
}
 
 .submenu li {
   padding: 0 0 0 20px;
   margin: 0 0 10px 0;
 }
 
 .submenu li:first-child {
   padding: 0;
 }
 a {
   color: black;
   text-decoration: none;
 }
 input[type="checkbox"]:checked ~ ul {
   display: block;
 }
.menu_picture_mini{
  margin-top: 11px;
 }
.menu_picture_right_mini{
 margin: 0 33px 0 33px;
 }
span{
color: #F16D7F;
 }

.top_header{
width: 100%;
background: #F8F3F4;
height: 148px;
}
.container_top_header{
display: flex;
justify-content: space-between;
height: 100%;
align-items: center;
text-transform: uppercase;
}
.left_block_container_top_header{
display: block;
font-weight: 400;
font-size: 24px;
line-height: 29px;
}
.right_block_container_top_header{
display: flex;
}

.main_block_section{
background: white;
width: 100%;
}
.container_main_block_section{
display: flex;
}
.block_head_container_product{
width: 100%;
display: flex;
margin: 51px 0 64px 0;

}
.left_block_list_container{
font-weight: 600;
font-size: 14px;
line-height: 17px;
color: #000000;
}
.left_block_list_container::after{
content: url(../img/left_block_list.png);
margin: 0 0 0 11px;
}
.items_container_main_block_section{
width: 296.02px;
display: flex;
justify-content: space-between;
margin: 0 auto;
}
.items_container_main{
text-transform: uppercase;
font-weight: 400;
font-size: 14px;
line-height: 17px;
color: #6F6E6E;
}

.items_container_main::after{
content: url(../img/vector.png);  
margin-left: 10px;
}
.blocks_product_main_block_section{
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin: 0 0 48px 0;
}
.blocks_product_item{
max-width: 360px;
max-height: 581px;
background: #f8f8f8;
margin-top: 30px;
}
.blocks_txt_product_item{
padding: 24px 28px 20px 16px;
box-sizing: border-box;
}
.title_block_product_item{
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-transform: uppercase;
}
.subtitle_block_product_item{
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  margin: 12.65px 0 18px 0;
}
.container_pagination{
text-align: center;
}
.pagination {
width: 284px;
display: flex;
justify-content: space-around;
list-style: none;
border: 1px solid #c4c4c4;
align-items: center;
margin: 0 auto;
height: 44px;
}
.pagination::before{
content:url(../img/catalog.img/vector_left.png);
}
.pagination::after{
content:url(../img/catalog.img/vector_right.png);
}
.list_pagination{
text-decoration: none;
font-weight: 300;
font-size: 16px;
line-height: 19px;
color: #c4c4c4;
}
.list_pagination:hover{
color: #f16d7f;
}
/*footer*/
.top_footer{
    width: 100%;
    background: #222224;
    min-height: 341px;
    margin: 96px 0 0 0;
    }
    .center_footer{
    background-image: url(../img/footer_bootom_photo.jpg);
    }
    .bottom_footer{
    background: #222224;
    }
    .container_top_footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 104px 0 0 0;
    }
    .block_container_top_footer{
    width: 360px;
    height: 134px;
    text-align: center;
    box-sizing: border-box;
    }
    .left_block_container_top_footer{
    margin: 28.07px 0 16px 0;
    }
    .center_block_container_top_footer{
    margin: 19.07px 0 16.01px 0;
    }
    .right_block_container_top_footer{
    margin: 25.07px 0 16.01px;
    }
    .title_top_footer{
    font-weight: 400;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
    }
    .subtitle_top_footer{
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    color: #9F9F9F;
    margin: 0 auto;
    }
    .center_footer{
    width: 100%;
    background-image: url(../img/center_footer_footer.jpg);
    height: 448px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    }
    .container_center_footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    }
    .left_block_center_footer{
    width: 359.45px;
    height: 225px;
    text-align: center;
    }
    
    .quote_container_center_footer{
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #222224;
    }
    .small_quote{
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    }
    .right_block_center_footer{
    width: 557px;
    height: 142px;
    text-align: center;
    }
    .title_container_center_footer{
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    }
    .subtitle_container_center_footer{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
    margin-bottom: 32px;
    }
    .block_input_center_footer{
    display: flex;
    height: 49px;
    width: 356px;
    margin: 0 auto;
    }
    .form-control{
    width: 100%;
    width: 256px;
    height: 100%;
    background: #E1E1E1;
    padding-left: 22px;
    border: none;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    }
    .btn_block_input_center_footer{
    height: 100%;
    width: 100px;
    background: #F16D7F;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    }
    .bottom_footer{
    background: #222224;
    width: 100%;
    height: 79px;
    }
    .container_bottom_footer{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    }
    .author_href{
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
    }
    .socials_container_bottom_footer{
    display: flex;
    justify-content: space-between;
    width: 146.66px;
    height: 32px;
    }
